.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  max-width: 729px;
  margin-top: 183px;
  margin-bottom: 28px;
  margin-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  max-width: 532px;
  margin: 0 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: -1;
  position: absolute;
  top: 135px;
  right: 20px;
  max-width: 646px;
  max-height: 568px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__list-item {
  margin: 0 0 16px 80px;
  color: #6f6f6f;
}

.header__address {
  margin: 0;
  color: #838383;
}
